body {
    background-color: black;
    background-image: url('assets/SpiralGalaxyNGC3982_crop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div {
    font-size: 1.1em;
    color: linen;
}

.hour-toggle-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
}

.hour-toggle {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #456;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 41px;
    left: 4px;
    bottom: 4px;
    background-color: linen;
}

input:checked+.toggle {
    background-color: #456;
    color: black;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(41px);
    -ms-transform: translateX(41px);
    transform: translateX(41px);
}

#clock {
    margin-top: 5em;
    text-align: center;
}

.gn {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background: rgba(44, 55, 66, 0.8);
}

.x {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.h {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: linen;
    border: 0px;
    margin: 0px;
    padding: 0px;
}